<?xml version="1.1" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenheping.DAO.LearnrecordMapper" >
    <resultMap id="BaseResultMap" type="com.chenheping.domin.Learnrecord" >
        <id column="learnrecord_id" property="learnrecord_id" jdbcType="INTEGER" />
        <result column="student_id" property="student_id" jdbcType="INTEGER" />
        <result column="start_time" property="start_time" jdbcType="TIMESTAMP" />
        <result column="time" property="time" jdbcType="TIMESTAMP" />
        <result column="subject" property="subject" jdbcType="VARCHAR" />
        <result column="l_juli" property="l_juli" jdbcType="VARCHAR" />
        <result column="car_number" property="car_number" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        learnrecord_id,student_id,start_time,time,subject,l_juli,car_number
    </sql>
    <!-- 根据学时记录ID查询学习记录信息-->
    <select id="selectByLearnrecordId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from learnrecord
        where student_id = #{learnrecord_id,jdbcType=INTEGER}
    </select>


    <select id="selectAllLearnrecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from learnrecord
    </select>


    <delete id="deleteByLearnrecordId" parameterType="java.lang.Integer" >
        delete from learnrecord
        where learnrecord_id = #{learnrecord_id,jdbcType=INTEGER}
    </delete>

    <!--添加管理员信息-->
    <insert id="insert" parameterType="com.chenheping.domin.Learnrecord" >
        insert into learnrecord (learnrecord_id,student_id,start_time,time,subject,l_juli,car_number)
        values (#{learnrecord_id,jdbcType=INTEGER}, #{student_id,jdbcType=INTEGER}, #{start_time,jdbcType=TIMESTAMP},
        #{time,jdbcType=TIMESTAMP}, #{subject,jdbcType=VARCHAR}, #{l_juli,jdbcType=VARCHAR}, #{car_number,jdbcType=VARCHAR})
    </insert>

</mapper>

