<?xml version="1.1" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenheping.DAO.PracticeMapper" >
    <resultMap id="BaseResultMap" type="com.chenheping.domin.Practice" >
        <id column="practice_id" property="practice_id" jdbcType="INTEGER" />
        <result column="student_id" property="student_id" jdbcType="INTEGER" />
        <result column="p_time" property="p_time" jdbcType="TIMESTAMP" />
        <result column="p_score" property="p_score" jdbcType="VARCHAR" />
        <result column="p_truenum" property="p_truenum" jdbcType="VARCHAR" />
        <result column="p_falsenum" property="p_falsenum" jdbcType="VARCHAR" />
        <result column="p_number" property="p_number" jdbcType="VARCHAR" />
        <!--<association property="student_id" column="STUDENT_ID"-->
        <!--select="com.chenheping.DAO.StudentMapper.selectByStudentId()"/>-->
    </resultMap>
    <sql id="Base_Column_List" >
        practice_id,student_id,p_time,p_score,p_truenum,p_falsenum,p_number
    </sql>
    <!-- 根据学员ID查询管理员信息-->
    <select id="selectByPracticeId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from practice
        where student_id = #{student_id,jdbcType=INTEGER}
    </select>


    <!-- 查询所有信息-->
    <select id="selectAllPractice" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from practice
        where student_id = #{student_id,jdbcType=INTEGER}
    </select>


    <!-- 根据管理员id删除管理员-->
    <delete id="deleteByPracticeId" parameterType="java.lang.Integer" >
        delete from practice
        where practice_id = #{practice_id,jdbcType=INTEGER}
    </delete>

    <!--添加管理员信息-->
    <insert id="insert" parameterType="com.chenheping.domin.Practice" >
        insert into practice (practice_id,student_id,p_time,p_score,p_truenum,p_falsenum,p_number)
        values (#{practice_id,jdbcType=INTEGER},
        #{student_id,jdbcType=INTEGER}, #{p_time,jdbcType=TIMESTAMP},
        #{p_score,jdbcType=VARCHAR},#{p_truenum,jdbcType=VARCHAR},
        #{p_falsenum,jdbcType=VARCHAR},#{p_number,jdbcType=VARCHAR})
    </insert>

</mapper>

