<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
             http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" default-autowire="byType" >
        

	<bean id="a" class="com.yc.A" />
	<bean id="b" class="com.yc.B">
		<!-- <property name="a" ref="a" /> -->
		<constructor-arg ref="a" />
	</bean>

	<bean id="cc" class="com.yc.C" />
	<bean id="d" class="com.yc.D">
	<!-- 	<property name="c" ref="c" /> -->
	</bean>


</beans>