<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.crud.dao.UserDao">
	<insert id="add" parameterType="com.yc.crud.model.User">
		<if test="operator_id==null">
			insert into
			t_user(name,password,status)values(#{name},#{password},#{status});
		</if>
		<if test="operator_id!=null">
			insert into
			t_user(operator_id,name,password,status)values(#{operator_id},#{name},#{password},#{status});
		</if>
	</insert>
	<delete id="del" parameterType="int">
		delete from t_user where
		operator_id=#{operator_id}
	</delete>
	<update id="update" parameterType="com.yc.crud.model.User">
		update t_user set
		name=#{name},password=#{password},status=#{status} where
		operator_id=#{operator_id}
	</update>
	<select id="findById" parameterType="int" resultType="com.yc.crud.model.User">
		select *
		from t_user where operator_id=#{operator_id}
	</select>
	<select id="findAll" resultType="com.yc.crud.model.User">
		select * from t_user
	</select>
	<select id="findByCondition" parameterType="com.yc.crud.model.UserQuery"
		resultType="com.yc.crud.model.User">
		select * from t_user where 1=1
		<if test="status==null">
			and name=#{name}
		</if>
		<if test="status!=null">
			<if test="name!=null"> and name like concat(concat('%',#{name}),'%')</if>
			<if test="status!=-1"> and status=#{status}</if>
		</if>
	</select>
</mapper>
